body {
    font-family: "Helvetica Neue";
    color: #252525;
    margin-left: 10vw;
    margin-right: 10vw;
}
h1 {
    font-weight: normal;
    line-height: 1.4;
}
.folder {
    cursor: pointer;
    position: relative;
    display: block;
    margin-top: 0;
}
.folder > span.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('https://raw.githubusercontent.com/wyndchyme/wyndchyme.github.io/refs/heads/main/wyndOS/icons/folder.png');
    background-size: 145%;
    background-position: 60% 38%;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 4px;
}
.folder.open > span.icon {
    background-image: url('https://raw.githubusercontent.com/wyndchyme/wyndchyme.github.io/refs/heads/main/wyndOS/icons/folderopen.png'); 
}
.folder > span.label {
    user-select: none;
    vertical-align: middle;
}
.folder > ul {
    display: none;
    padding-left: 20px;
    margin-top: 0px; 
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 0; 
    opacity: 0; 
    overflow: hidden; 
}
.folder.open > ul {
    display: block;
    max-height: 1000px; 
    opacity: 1; 
}
  .file a {
    text-decoration: none;
    color: inherit;
}
.file a::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
    bottom: 2px;
    background-image: url('https://raw.githubusercontent.com/wyndchyme/wyndchyme.github.io/refs/heads/main/icons/news.png');
    filter: drop-shadow(1px 1px 1px black);
    list-style: none;
}
  /* Add specific icons for certain file extensions like this:
.file-png a::before {
    background-image: url(/your/image/path/here);
}
  */